*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#navbar{
    display: flex;
    flex-wrap: wrap;
    /* text-align: ceneter; */
    align-items: center;
    /* background-color: #0d6efd; */
    background-image: url(images/back.webp);
    /* background-repeat: cover; */
    background-size: cover;
    padding:10px auto;
    /* margin-left: 40px; */
    /* padding-left: 50px; */
    /* margin-left: 30px; */
    /* justify-content: space-between; */
    justify-content: space-around;
}
a{
    transition: all 0.3s ease;
}
a:hover{
    /* transform: translateY(-3px); */
    color: green;
}
#my-car{
    transition: all 0.3s ease;
}
#my-car:hover{
    color: green;
    transform: translate(-4px);
}
ul a{
    text-decoration: none;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 80px;
    /* margin-left: 0px; */
    padding-left: 80px;
    padding-right: 80px;
    /* gap: 40px; */
    color: purple;
}
#my-car h1{
    cursor: pointer;
}
#hero-div{
    /* background-color: white; */
    background-image: url(images/background-web.webp);
    background-size: cover;
}
#left-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    line-height: 35px;
}
#main-content{
    margin-left: 80px;
    padding-top: 20px;
}
.sports{
    color: blueviolet;
}
#head{
    font-size: 43px;
    line-height: 50px;
}
.p-tag{
    color: rgb(121, 65, 65);
    font-weight: bold;
}
.btn-1{
    font-weight: bold;
    /* padding-left: 23px; */
    /* padding: 19px; */
    border: none;
    border-radius: 23px;
    /* padding-left: 20; */
    padding: 14px 25px;
    /* border: 2px solid green; */
    background-color: rgb(33, 33, 199);
    color: white;
    cursor: pointer;
    font-size: 20;
    /* background: white; */
    /* background-color: white; */
    transition: all 0.4s ease;
}
.btn-1:hover{
    background-color: white;
    color: black;
}
.btn-2{
    font-weight: bold;
    padding: 14px 30px;
    background-color: white;
    border: none;
    border-radius: 23px;
    border: 2px solid green;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.4s ease;
}
.btn-2:hover{
    background-color: green;
    color: white;
    /* border: none; */
    /* transition: all 0.3s ease; */
}
#img{
    max-width: 100%;
    height: auto;
}
.car-div{
    /* background-color: blue; */
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    margin: 15px auto;
    /* width: 600px; */
    width: 100%;
    max-width: 320px;
    height: 200px;
    text-align: center;
    /* border-radius: 20px; */
    border-radius: 20px;
    padding-top: 70px;
    box-shadow: 0 0 10px gray;
    padding-left: 24px;
    padding-right: 24px;
    color: rgb(72, 5, 99);
    font-weight: bold;
    font-size: 15px;
    transition: all 0.4s ease;
}
.car-div:hover{
    color: rgb(184, 59, 59);
    /* translate: ; vul */
     transform: translateY(-5px);
     /* transition: all 0.4s ease; */
     /* transform: scale(1:1); */
     box-shadow: 0 0 30px rgb(201, 78, 78);
}
#about-car{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-left: 30px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
#learn-text{
    /* align-items: center; */
    text-align: cenetr;
    /* background-color: blue; */
    margin-top: 50px;
}
h3{
   text-align: center;
   margin-bottom: 20px;
}
.what-i-need-learn{
    text-align: center;
    font-weight: bold;
}
.icon-div{
    width: 100px;
    /* background-color: blue; */
    /* align-items: center; */
    text-align: center;
    box-shadow: 0 0 10px gray;
    /* padding: 40px; */
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    transition: all 0.4s ease;
}
.icon-div:hover{
    /* transition: all 0.4s ease; */
    transform: translateY(-7px);
    box-shadow: 0 0 10px blue;
}
#icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    gap: 20px;
    margin-bottom: 100px;
}
